body
{
    background-color: #60a3bc;
    font-family: Verdana;
}

#registerForm
{
    margin-left: 40%;
    margin-top: 5%;
    border: 2px solid #c0392b;
    width: 250px;
    height: 300px;
    padding: 65px 5px 2px 65px;
    background-color: #f39c12;  
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 15px;
    
}

#pinLogo
{
    margin-left: 40%;
    width: 24%;
    margin-bottom: -5.5%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.sideInput
{
    margin-top: 1.5%;
    margin-bottom: 1.5%;    
}