.inputJ
{
    margin-top: 2%;
    margin-bottom: 1%;
}

#divLogin
{
    margin-left: 40%;
    margin-top: 6%;
    
}

#pwdField
{
    border-radius: 25px;
    text-align: center;
}

#loginField
{
    border-radius: 25px;
    text-align: center;
}

h1
{
    margin-left: 38%;
}

label
{
    font-size: 20px;
}

#btn-submit
{
    margin-top: 1%;
    width: 21%;
    border-radius: 25px;
    background-color: black;
    color: white;
}

body
{
    background-color: black;
    color: white;
}

#btn-reset
{
    margin-top: 1%;
    width: 21%;
    border-radius: 25px;    
    background-color: black;
    color:white;
}